// Button

button {
    color: $white;
    font-weight: $font-regular;
    font-size: 1rem;
    border-radius: 10px;
    box-sizing: border-box;
    border: none;
    height: 40px;
    width: 100%;

    &:focus {
        outline: none;
    }

    &:hover {
        cursor: pointer;
    }

    &:disabled {
        cursor: not-allowed;
        filter: opacity(60%);
    }

    &.button {
        &--is-large {
            height: 2.5rem;
            width: 8rem;
        }
    
        &--is-long {
            width: 14rem;
        }
    
        &--auto-width {
            width: auto !important;
        }

        &--is-square {
            height: 2.5rem;
            width: 2.5rem;
            background-image: linear-gradient(to left, #5F65F4 0%, #B95FF4 100%);
            color: $white;
            font-weight: bold;
        }
    
        &__gradient {
            background-image: linear-gradient(to left, #5F65F4 0%, #B95FF4 100%);
        }
    
        &__grey {
            background-color: $grey;
            transition: $transition-long;
            &:hover {
                background-color: darken($grey, $color-coef);
            }
        }
    
        &__primary {
            background-color: $primary;
            transition: $transition-long;
            &:hover {
                background-color: darken($primary, $color-coef);
            }
        }
    
        &__almost-black {
            background-color: $almost-black;
            transition: $transition-long;
            &:hover {
                background-color: darken($almost-black, $color-coef);
            }
        }
    }
}
