.container {
    position: absolute;

    &--is-center {
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        text-align: center;
    }

    &__content {
        &--center {
            @include flexbox;
            @include flex-direction(column);
            align-items: center;
            justify-content: center;
        }
    }
}
