.modal {
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);

    &--is-visible {
        display: block;
    }

    &__content {
        background-color: $almost-white;
        padding: 20px;
        width: 600px;
        border-radius: 10px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        &--small {
            width: 400px;
        }

        &--medium {
            width: 500px;
        }
    }

    &__titlebar {
        @include flexbox;
        @include flex-direction(row);;
        height: 20px;
        justify-content: space-between;
        margin-bottom: $mar-lg;

        &--title {
            font-weight: bold;
            user-select: none;
        }

        &--close {
            cursor: pointer;
            color: $grey;
            transition: .1s linear;

            &:hover {
                color: lighten($grey, $color-coef);
            }
        }
    }

    &__button-group {
        @include flexbox;
        @include flex-direction(row);;
        justify-content: space-between;
        margin-top: $mar-xl;
    }

    &__button {
        width: 35%;
    }
}
