<div id="onboarding">
    <ng-container *ngIf="step === 'notebook'">
        <div class="container container--is-center auth__container">
            <h1 class="auth__title">Hey, <strong>{{ authService.user.username || '' }}</strong>!</h1>
            <p><span>Create your first notebook! You can add more later.</span></p>
        
            <div class="form form--is-row margin-top--lg">
                <input type="text" id="notebook" class="input margin-right--sm" [(ngModel)]="notebookTitle" [ngClass]="{'input--has-error': errors.notebook}" (keyup.enter)="createNotebook()" (keydown)="errors.notebook = null"  placeholder="Notebook Title">
                <button-right-small (click)="createNotebook()"></button-right-small>
            </div>
            <span *ngIf="errors.notebook" class="input__validation input__validation--error">{{ errors.notebook }}</span>
        </div>
    </ng-container>

    <ng-container *ngIf="step === 'color'">
        <div class="container container--is-center auth__container">
            <h1 class="auth__title" id="tee">Stand out.</h1>
            <p><span>Make it colorful! No one likes grey.</span></p>
        
            <div class="form form--is-row margin-top--lg">
                <input type="text" id="notebook-color" class="input margin-right--sm" [ngStyle]="{
                    'background-color': notebook.color ? lighten(notebook.color) : '#E5E5E5',
                    'border': notebook.color ? '1px solid ' + notebook.color : '1px solid transparent'
                }" [value]="notebookTitle" disabled>
                <button-right-small (click)="setColor()"></button-right-small>
            </div>

            <div class="margin-top--lg">
                <color-picker (color)="notebook.color = $event"></color-picker>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="step === 'finish'">
        <div class="container container--is-center auth__container">
            <h1 class="auth__title">Well done!</h1>
            <p><span>Let's get to it.</span></p>

            <div class="margin-top--xl">
                <h2 class="onboarding__welcome-text">Welcome to <strong>Nota</strong>!</h2>
                <p>Get things done, all in one place.</p>
                <p>Let's get started on your first task.</p>
            </div>

            <button class="button__gradient button--is-large button--is-long margin-top--xl">
                Open Notebook
            </button>
        </div>
    </ng-container>
</div>
