<div id="onboarding">
    <ng-container *ngIf="step === 'notebook'">
        <div class="container container--is-center auth__container">
            <h1 class="auth__title">Hey, <strong>{{ authService.user.username || '' }}</strong>!</h1>
            <p><span>Create your first notebook! You can add more later.</span></p>
        
            <div class="form form--is-row margin-top--lg">
                <input type="text" id="notebook" class="input margin-right--sm" [(ngModel)]="notebookTitle" [ngClass]="{'input--has-error': errors.notebook}" (keyup.enter)="createNotebook()" (keydown)="errors.notebook = null"  placeholder="Notebook Title">
                <button-right-small (click)="createNotebook()"></button-right-small>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="step === 'color'">
        <div class="container container--is-center auth__container">
            <h1 class="auth__title">Notes look good.</h1>
            <p><span>Make it colorful! No one likes grey.</span></p>
        
            <div class="form form--is-row margin-top--lg">
                <input type="text" id="notebook" class="input margin-right--sm" [value]="notebookTitle" disabled>
                <button-right-small (click)="setColor()"></button-right-small>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="step === 'tasks'">
        <div class="container container--is-center auth__container">
            <h1 class="auth__title">Where to start?</h1>
            <p><span>Let's add some stuff to write about.</span></p>
        
            <div class="form form--is-row margin-top--lg">
                <input type="text" id="notebook" class="input margin-right--sm" [value]="notebookTitle" disabled>
                <button-right-small (click)="setColor()"></button-right-small>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="step === 'finish'">
        <div class="container container--is-center auth__container">
            <h1 class="auth__title">Well done!</h1>
            <p><span>Let's get to it.</span></p>
        </div>
    </ng-container>
</div>
