<sidebar></sidebar>

<div id="notes-pane" class="notes notes__pane">
    <div class="notes__search">
        <input type="text" id="search-inbox" class="input notes__search--input" placeholder="Search Inbox..." />
    </div>

    <div class="notes__notes">
        <note-item></note-item>
        <note-item></note-item>
        <note-item></note-item>
        <note-item></note-item>
        <note-item></note-item>
        <note-item></note-item>
        <note-item></note-item>
        <note-item></note-item>
        <note-item></note-item>
        <note-item></note-item>
        <note-item></note-item>
        <note-item></note-item>
    </div>
</div>

<div id="editor-pane" class="editor">
    <div class="editor__container">
        <!-- <div class="editor__deselected">
            <p>Nothing to see here.</p>
            <p>Why not <span class="editor__deselected--add">Add a Note</span>?</p>
        </div> -->
        <div class="editor__pane">
            <div class="editor__editor">
                <div class="editor__editor--header">
                    <span class="editor__editor--header_color"></span>
                    <input class="editor__editor--header_title" value="English Tuesday 2 June">

                    <div class="editor__editor--icons">
                        <i class="editor__editor--icons_icon fa fa-trash" aria-hidden="true" title="Delete Note"></i>
                        <i class="editor__editor--icons_icon fa fa-tag" aria-hidden="true" title="Tags"></i>
                        <i class="editor__editor--icons_icon fa fa-star" aria-hidden="true" title="Star Note"></i>
                        <i class="editor__editor--icons_icon fa fa-share" aria-hidden="true" title="Share Note"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
