<sidebar></sidebar>

<div id="notes-pane" class="notes notes__pane">
    <div class="notes__search">
        <input type="text" id="search-inbox" class="input notes__search--input" placeholder="Search Inbox..." />
    </div>

    <div class="notes__notes">
        <div class="notes__notes--empty">
            <p>Nothing to see here.</p>
            <p>Why not <span class="notes__notes--empty--add">Add a Note</span>?</p>
        </div>
    </div>
</div>

<div id="editor-pane" class="editor">
    <editor></editor>
</div>
