// app/components/onboarding/*

.onboarding {

    &__title {
        font-weight: 600;
        font-size: 3.8rem;
        margin-bottom: .5rem;
    }

    &__subtitle {
        font-size: 1.2rem;
        color: $grey;
    }

    &__icon {
        width: 250px;
    }

    &__action-button {
        margin-top: 3.5rem;
    }

    &__color-picker {
        margin-top: 2rem;
    }

    &__welcome {
        margin-top: 4rem;

        &-text {
            font-weight: 300;
            color: $grey;
            line-height: 1rem;
    
            strong {
                font-weight: 700;
                color: $primary;
            }
        }
    }

}