// app/components/onboarding/*

.onboarding {

    &__title {
        font-weight: 600;
        font-size: 3.8rem;
        margin-bottom: .5rem;
    }

    &__subtitle {
        font-size: 1.2rem;
        color: $grey;
    }

    &__icon {
        width: 250px;
    }

    &__action-button {
        margin-top: 3.5rem;
    }

}