::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: $white; 
}

::-webkit-scrollbar-thumb {
    background: darken($light, $color-coef);
    border: 3px solid transparent;
    border-radius: 5px;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background: darken($light, $color-coef * 2);
    border: 3px solid transparent;
    border-radius: 5px;
    background-clip: content-box;
}
