.context {
    width: 150px;
    box-shadow: 0 0 .5rem darken($light, 10%);
    border-radius: 5px;
    position: fixed;
    z-index: 999;
    display: none;
    background-color: $white;

    &__options {
        margin: 0;
        padding: 0;

        &--item {
            height: 35px;
            width: 100%;

            &_label {
                font-weight: 400;
                font-size: 14px;
                line-height: 35px;
                padding: 0 20px 0 20px;
                cursor: pointer;
            }

            &_red {
                color: $red;
            }

            &:hover {
                background: darken($white, $color-coef);
            }
        }
    }
}
