.context {
    width: 150px;
    box-shadow: 0 0 .5rem darken($light, 10%);
    border-radius: 5px;
    position: fixed;
    z-index: 999;
    display: none;
    background-color: $white;

    &__options {
        list-style: none;
        margin: 0;
        padding: 0;

        &--item {
            font-weight: 400;
            font-size: 14px;
            cursor: pointer;
            margin: 10px 20px 10px 20px;

            &_red {
                color: $red;
            }

            &:hover {
                background: darken($white, $color-coef);
            }
        }
    }
}
