.editor {
    height: 100%;
    margin-left: calc(175px + 400px);
    width: calc(100% - (175px + 400px));

    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &__deselected {
        color: $grey;
        line-height: 20px;
        user-select: none;
        text-align: center;

        &--add {
            color: $primary;
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 1200px) {
    #editor-pane {
        margin-left: 175px;
        width: calc(100% - 175px);
    }
}
