.editor {
    height: 100%;
    margin-left: calc(175px + 400px);
    width: calc(100% - (175px + 400px));

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: calc(100% - 30px);
    }

    &__deselected {
        color: $grey;
        line-height: 20px;
        user-select: none;
        text-align: center;

        &--add {
            color: $primary;
            cursor: pointer;
        }
    }

    &__pane {
        width: calc(100% - 80px);
        height: calc(100% - 80px);
        background-color: $white;
        border-radius: 10px;
        box-shadow: 0 0 .5rem darken($light, 10%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__editor {
        height: calc(100% - 80px);
        width: calc(100% - 80px);

        &--header {
            width: 100%;
            height: 100px;
            border-bottom: 2px solid #E2E2E2;
            display: flex;
            align-items: center;

            &_color {
                height: 20px;
                width: 20px;
                background-color: #1DE04A;
                border-radius: 100%;
            }

            &_title {
                color: $grey;
                font-weight: 400;
                margin-left: 50px;
                width: 30vw;
                border: 0;
                font-size: 26px;
            }
        }

        &--icons {
            margin-left: auto;
            display: flex;

            &_icon {
                font-size: 20px;
                margin-left: 15px;
                cursor: pointer;
                color: $almost-black;
                transition: .1s linear;

                &:hover {
                    color: lighten($almost-black, $color-coef * 3);
                }
            }

            &_starred {
                color: $yellow;
            }
        }

        &--body {
            margin-top: 10px;
        }
    }
}

@media only screen and (max-width: 1200px) {
    #editor-pane {
        margin-left: 175px;
        width: calc(100% - 175px);
    }
}
