.notes {
    position: fixed;

    &__pane {
        background-color: $almost-white;
        width: 400px;
        height: 100%;
        margin-left: 175px;
    }

    &__search {
        width: 100%;
        height: calc(80px - 1px);
        border-bottom: 1px solid #C7C7C7;
        background-color: $almost-white;

        &--input {
            width: 90%;
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__notes {
        height: calc(100% - 80px - 30px);
        overflow-y: auto;

        &--empty {
            margin-top: 40px;
            color: $grey;
            line-height: 20px;
            user-select: none;
            text-align: center;
    
            &--add {
                color: $primary;
                cursor: pointer;
            }
        }

        &--item {
            background-color: $white;
            border-left: 7.5px solid #1DE04A;
            height: 110px;
            width: calc(100% - 7.5px);
            margin-bottom: 1px;
            cursor: pointer;
            transition: .1s linear;
            user-select: none;

            &-container {
                position: relative;
                left: 20px;
                top: 10px;
                width: calc(100% - 35px);
            }

            &-row {
                display: flex;
                flex-direction: row;
            }

            &-date {
                margin-left: auto;
                font-weight: 400;
                font-size: 13px;
                color: $grey;
            }

            &-user {
                font-weight: 300;
                font-size: 13px;
                color: $grey;
            }

            &-title {
                font-size: 15px;
                font-weight: 600;
                color: $almost-black;
                padding-bottom: 5px;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &-description {
                display: -webkit-box;
                font-size: 14px;
                color: $grey;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &:hover {
                background-color: darken($white, $color-coef);
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    #notes-pane {
        display: none !important;
    }
}
