// app/*

.sidebar {
    width: calc(175px - 1px);
    height: 100%;
    user-select: none;
    position: fixed;
    background-color: $almost-white;
    border-right: 1px solid #F1F1F1;

    &__big-button {
        background-color: $primary;
        width: 100%;
        height: 80px;
        cursor: pointer;
        transition: 0.1s linear;

        &--icon {
            width: 40px;
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            pointer-events: none;
        }

        &:hover {
            background-color: lighten($primary, $color-coef);
        }
    }

    &__content {
        padding-top: 1rem;
        padding-left: .5rem;
    }

    &__section {
        width: 100%;
        overflow: hidden;
        margin-bottom: 1rem;

        &-title {
            text-transform: uppercase;
            color: $grey;
            font-size: 13px;
            font-weight: 600;
        }

        &-item {
            margin-top: 10px;
            margin-bottom: 10px;
            cursor: pointer;
            display: inline-block;
            height: 100%;
            width: 100%;

            &--icon {
                width: 25px;
                vertical-align: middle;
                position: absolute;
            }

            &--text {
                padding-left: 40px;
                vertical-align: middle;
                font-size: 18px;
                color: $almost-black;

                &-active {
                    color: $primary;
                    font-weight: 600;
                }
            }
        }
    }

    &__notebook {
        width: calc(100% - 7.5px);
        height: 40px;
        margin-bottom: 2px;
        background-color: lighten($success, 50%);
        border-left: 7.5px solid $success;
        cursor: pointer;
        line-height: 40px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &--title {
            color: $almost-black;
            font-weight: 400;
            font-size: 15px;
            margin-left: 10px;
        }
    }

    &__link {
        font-size: 13px;
        color: $primary;
        width: 50%;
        margin: 0 auto;
        margin-top: 20px;
        cursor: pointer;
    }

    &__user {
        width: calc(175px - 1px);
        height: 60px;
        position: absolute;
        bottom: 30px;
        background-color: $almost-white;
        
        &--avatar {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background-color: $almost-black;
            position: absolute;
            bottom: 10px;
            left: 10px;
        }

        &--info {
            position: relative;
            top: 10px;
            left: calc(10px + 40px + 10px);
            line-height: 20px;

            &_username {
                color: $almost-black;
                font-size: 14px;
            }

            &_settings {
                display: block;
                color: $primary;
                font-size: 12px;
                cursor: pointer;
                transition: 0.1s linear;
                width: 50px;

                &:hover {
                    color: lighten($primary, $color-coef);
                }
            }
        }
    }
}
