// app/*

.titlebar {
    width: 100%;
    height: 30px;
    background-color: $almost-black;
    -webkit-app-region: drag;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;

    &__title {
        color: $almost-white;
        font-size: 15px;
        font-weight: 300;
        user-select: none;
    }
}
