<div class="sidebar">
    <div id="generic-menu" *ngIf="activeMenu == 'generic'">
        <div class="sidebar__big-button">
            <img src="assets/svg/note-white.svg" class="sidebar__big-button--icon" />
        </div>
    
        <div class="sidebar__content">
            <div class="sidebar__section">
                <span class="sidebar__section-title">Generic</span>
    
                <div class="sidebar__section-item">
                    <img src="assets/svg/inbox.svg" class="sidebar__section-item--icon">
                    <span class="sidebar__section-item--text sidebar__section-item--text-active">Inbox</span>
                </div>
                <div class="sidebar__section-item">
                    <img src="assets/svg/star.svg" class="sidebar__section-item--icon">
                    <span class="sidebar__section-item--text">Starred</span>
                </div>
                <div class="sidebar__section-item">
                    <img src="assets/svg/trash.svg" class="sidebar__section-item--icon">
                    <span class="sidebar__section-item--text">Trash</span>
                </div>
            </div>
    
            <div class="sidebar__section sidebar__section--has-action">
                <span class="sidebar__section-title">Notebooks</span>
                <i class="sidebar__section-title--action fa fa-plus" id="create-notebook" (click)="initiateNewNotebook()"></i>
            </div>
        </div>
    
        <div id="notebook-drag-area" cdkDropList (cdkDropListDropped)="dropNotebook($event)">
            <div id="drag-notebook" class="sidebar__notebook" *ngFor="let notebook of notebooks | slice:0:8" [title]="notebook.name" [ngStyle]="{
                'background-color': lighten(notebook.color),
                'border-left': '7px solid #' + notebook.color
            }" cdkDrag cdkDragBoundary="#notebook-drag-area" (contextmenu)="showNotebookContext($event, notebook)" >
                <span class="sidebar__notebook--title">{{ notebook.name }}</span>
            </div>
        </div>
    
        <div class="sidebar__link">All Notebooks</div>
    
        <div class="sidebar__user">
            <div class="sidebar__user--avatar"></div>
            <div class="sidebar__user--info">
                <span class="sidebar__user--info_username">@{{ authService.user.username }}</span>
                <span id="toggle-settings" class="sidebar__user--info_settings" (click)="toggleMenu()">Settings</span>
            </div>
        </div>
    </div>

    <div id="settings-menu" *ngIf="activeMenu == 'settings'">
        <div id="toggle-generic" class="sidebar__big-button" (click)="toggleMenu()">
            <img src="assets/svg/note-white.svg" class="sidebar__big-button--icon" />
        </div>
    
        <div class="sidebar__content">
            <div class="sidebar__section">
                <span class="sidebar__section-title">User Settings</span>
    
                <div class="sidebar__section-item">
                    <img src="assets/svg/inbox.svg" class="sidebar__section-item--icon">
                    <span class="sidebar__section-item--text sidebar__section-item--text-active">Profile</span>
                </div>
                <div class="sidebar__section-item">
                    <img src="assets/svg/star.svg" class="sidebar__section-item--icon">
                    <span class="sidebar__section-item--text">Account</span>
                </div>
                <div class="sidebar__section-item">
                    <img src="assets/svg/trash.svg" class="sidebar__section-item--icon">
                    <span class="sidebar__section-item--text">Privacy</span>
                </div>
                <div class="sidebar__section-item">
                    <img src="assets/svg/trash.svg" class="sidebar__section-item--icon">
                    <span class="sidebar__section-item--text">Applications</span>
                </div>
                <div class="sidebar__section-item">
                    <img src="assets/svg/trash.svg" class="sidebar__section-item--icon">
                    <span class="sidebar__section-item--text">Logs</span>
                </div>
            </div>
    
            <div class="sidebar__section">
                <span class="sidebar__section-title">User Settings</span>
    
                <div class="sidebar__section-item">
                    <img src="assets/svg/inbox.svg" class="sidebar__section-item--icon">
                    <span class="sidebar__section-item--text">Subscription</span>
                </div>
                <div class="sidebar__section-item">
                    <img src="assets/svg/star.svg" class="sidebar__section-item--icon">
                    <span class="sidebar__section-item--text">Payment</span>
                </div>
                <div class="sidebar__section-item">
                    <img src="assets/svg/trash.svg" class="sidebar__section-item--icon">
                    <span class="sidebar__section-item--text">Orders</span>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal" [ngClass]="{'modal--is-visible': showNewNotebook}" *ngIf="newNotebook">
    <div class="modal__content modal__content--medium">
        <div class="modal__titlebar">
            <span class="modal__titlebar--title">Create {{ newNotebook.name ? '"' + newNotebook.name + '"' : 'Notebook' }}</span>
            <i class="modal__titlebar--close fa fa-times" (click)="cancelNewNotebook()"></i>
        </div>
        
        <div class="form form--is-column margin-top--lg">
            <input type="text" id="notebook-color" class="input margin-right--sm" [ngStyle]="{
                'background-color': newNotebook.color && !newNotebookError ? lighten(newNotebook.color) : '#E5E5E5',
                'border': newNotebook.color && !newNotebookError ? '1px solid #' + newNotebook.color : '1px solid transparent'
            }" [(ngModel)]="newNotebook.name" [ngClass]="{'input--has-error': newNotebookError}" (keydown)="newNotebookError = null" (keydown.enter)="createNotebook()" placeholder="Notebook Title" maxlength="24">
            <span *ngIf="newNotebookError" class="input__validation input__validation--error">{{ newNotebookError }}</span>
        </div>

        <div class="margin-top--lg">
            <color-picker (color)="selectColor($event)"></color-picker>
        </div>

        <div class="modal__button-group">
            <button class="button__grey modal__button" (click)="cancelNewNotebook()">Cancel</button>
            <button class="button__primary modal__button" (click)="createNotebook()">Create</button>
        </div>
    </div>
</div>

<context-notebook [props]="contextMenuProps" [notebook]="contextNotebook" (delete)="deleteNotebook($event)"></context-notebook>
