html, body {
    margin: 0;
    background-color: $almost-white;
    color: $almost-black;
    // user-select: none;
    font-family: 'Open Sans';
}

#drag-area {
    height: 50px;
    width: 100%;
    -webkit-app-region: drag;
}
