// Global Variables

$primary: #5F65F4;
$secondary: #B95FF4;

$almost-black: #2E2E2E;
$black: #000000;
$grey: #6E6E6E;
$almost-white: #F8F8F8;
$white: #FFFFFF;
$light: #E5E5E5;

$error: #E22565;

// Coefficients
$color-coef: 5%;

// Margins
$mar: 1rem;
$mar-lg: 2.5rem;
$mar-sm: .5rem;
$mar-xl: 3.5rem;
